.wrapper {
	margin: 4px;
	padding: 4px;
	display: inline-block;
	width: 150px;
	text-align: center;
}

.focused {
	background: #BADA55;
}

.label {
	line-height: 20px;
}

.input {
	margin: auto;
	width: 95%;
}

